<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  
  <div class="main">
    <%- include("./partials/nav.ejs") %>
    <div>
      <div class="single">
        <h2 class="floatleft">all documents
          <a href="/database/collectionlist/<%= params.databasename %>" title="back to collection list" >database: <%- params.databasename %></a>
          / collection: <%= params.collectionname %></h2>
          <form method="post" action="/database/documentlist/<%= params.collectionname %>">
            <div class="pack">
              <div class="floatleft">display as:</div>
              <input type="radio" 
                <% if (params.displaymodus == 'list') { %>checked<% } %> name="displaymodus" id="displaylist" value="list"><label for="displaylist">list</label>
              <input type="radio" 
                <% if (params.displaymodus == 'object') { %>checked<% } %> name="displaymodus" id="displayobject" value="object"><label for="displayobject">object</label>
            </div>
            
            <div class="pack">
              <div class="floatleft">filter</div>
              <input class="floatleft" style="width:400px;" name="filter" id="filter" value=<%= JSON.stringify(params.filter) %>>
            </div>
            <a onclick="this.closest('form').submit();return false;" href="">refresh</a>
          </form>
    </div>
      <div style="clear:both;"></div>

      <% if (list.length > 0) { %>
        <% if (params.displaymodus == "object") { %>
            <% list.forEach(document => { %>
                <div class="displaymodusobject">
                <% Object.keys(document).forEach(function(prop) { %>
                    <div class="displaymodusobjectelt"><%- prop %></div>
                    <input id="<%- prop %>" value="<%-document[prop] %>">
                    <div class="clearboth"></div>
                <% }); %>
                </div>
            <% }); %>
            <div class="clearboth"></div>
        <% } else { %>
            <section>
                <header>
                    <% let doc = list[0]; %>
                    <% Object.keys(doc).forEach(function(prop) { %>
                        <div class="col"><%- prop %></div>
                    <% }) %>
                </header>
                <% list.forEach(document => { %>
                    <div class="row">
                    <% Object.keys(document).forEach(function(prop) { %>
                        <div class="col">
                        <%-document[prop] %>
                        </div>
                    <% }); %>
                    </div>
                <% }) %>
            </section>
        <% } %>
          total number of documents <%- list.doccount %>
        <% } else { %>
        <p>This collection has no documents. Try to "refresh" or create some documents.</p>
      <% } %>
      
    </div>

    <%- include("./partials/footer.ejs") %>
  </div>

</body>
</html>